html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    font-family: 'Josefin Slab', 'Century Gothic', 'TeXGyreAdventor', "STHeiti", sans-serif;
}

#head {
    margin: 5% auto;
    display: block;
}

#menu {
    display: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.blurMenu {
    padding: 0;
    margin: 0 0 10px 0;
    position: relative;
}

.blurMenu li a {
    font-size: 60px;
    white-space: nowrap;
    color: transparent;
    display: block;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 6px #fff;
    letter-spacing: 1px;
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin: 3%;
}

.blurMenu:hover li a {
    text-shadow: 0 0 15px #fff;
}

.blurMenu li a:hover {
    text-shadow: 0 0 1px #fff;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}

#foot {
    color: white;
    position: fixed;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
}